@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500;700&family=Montserrat:wght@300&display=swap');
:root, body {
	background-color: #111;
	margin: 0;
}
*::-webkit-scrollbar {
	display: none;
}